[run]
omit=
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit manage.py
    manage.py
    # omit virtualenv dir at Windows env
    */.virtualenvs/*