[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==2.2.20"
coverage = "==5.0.3"
codecov = "*"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
