<div class="w-1/4 mb-10 px-2 overflow-hidden">
    <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{ room.first_photo }});">
    </div>
    <div class="flex justify-between mb-2 truncate">
        <div class="w-4/5 overflow-hidden flex">
            {% if room.host.is_superhost %}
            <span
                class="uppercase border-black border rounded py-px px-1 font-semibold text-xs text-black mr-2">superhost</span>
            {% endif %}
            <span class="text-sm text-gray-600 block truncate">{{ room.city }} · {{ room.country.name }}</span>
        </div>
        <span class="text-sm flex items-center">
            <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{ room.total_rating }}
        </span>
    </div>
    <span class="text-black w-11/12 block truncate">{{ room.name }}</span>
</div>