{% extends "base.html" %}

{% block page_name %}HOME{% endblock page_name %}

{% block content %}
    {% for room in rooms.object_list %}
        <h1>{{ room }} / ${{ room.price }}</h1>
    {% endfor %}

    <h5>
        {% if rooms.has_previous %}
            <a href="?page={{ rooms.number|add:-1 }}">Pervious</a>
        {% endif %}
            Page {{ rooms.number }} / {{ rooms.paginator.num_pages }}
        {% if rooms.has_next %}
            <a href="?page={{ rooms.number|add:1 }}">Next</a>
        {% endif %}
    </h5>
{% endblock content %}