{% extends "base.html" %}

{% block page_name %}HOME{% endblock page_name %}

{% block content %}
    {% for room in page.object_list %}
        <h1>{{ room }} / ${{ room.price }}</h1>
    {% endfor %}

    <h5>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Pervious</a>
        {% endif %}
            Page {{ page.number }} / {{ page.paginator.num_pages }}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </h5>
{% endblock content %}