{% extends "base.html" %}
{% load static %}

{% block page_name %}HOME{% endblock page_name %}

{% block content %}
<div class="container rounded-xl mx-auto h-50vh mt-32 mb-24 bg-cover bg-center"
    style="background-image:url({% static "img/main-container.jpg" %})">
</div>
{% for room in object_list %}
<a href=' {% url "rooms:detail" room.pk %}'>
    <h4>{{ room }} / ${{ room.price }}</h4>
</a>
{% endfor %}

<h5>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</h5>
{% endblock content %}