{% extends "base.html" %}

{% block page_name %}{{ room.name }}{% endblock page_name %}

{% block content %}

<div class="-mt-5 container max-w-full h-75vh flex mb-20">
    <div class="h-full w-1/2 bg-cover bg-center" style="background-image: url({{ room.first_photo }});">
    </div>
    <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in room.get_next_four_photos %}
        <div style="background-image: url({{ photo.file.url }});" class="w-1/2 h-auto bg-cover bg-center bg-gray-700 border"></div>
        {% endfor %}
    </div>
</div>

{% endblock content %}