{% extends "base.html" %}

{% block page_name %}Search{% endblock page_name %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<h2>Search!</h2>

<form method="GET" action="{% url "rooms:search" %}">
    <div>
        <label for="city">City</label>
        <input value="{{ city }}" id="city" name="city" placeholder="Search by City" />
    </div>

    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            {% for country in countries %}
            <option value="{{ country.code }}" {% if country.code == selected_country %}selected{% endif %}>
                {{ country.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="room-type">Room Type</label>
        <select name="room-type" id="room-type">
            <option value="0" {% if selected_room_type == 0 %}selected{% endif %}>
                Any Kind
            </option>
            {% for room_type in room_types %}
            <option value="{{ room_type.pk }}" {% if selected_room_type == room_type.pk %}selected{% endif %}>
                {{ room_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="price">Price</label>
        <input value="{{ price }}" type="number" name="price" id="price" placeholder="Price" />
    </div>

    <div>
        <label for="guests">Guests</label>
        <input value="{{ guests }}" type="number" name="guests" id="guests" placeholder="Guests" />
    </div>

    <div>
        <label for="bedrooms">Bedrooms</label>
        <input value="{{ bedrooms }}" type="number" name="bedrooms" id="bedrooms" placeholder="Bedrooms" />
    </div>

    <div>
        <label for="beds">Beds</label>
        <input value="{{ beds }}" type="number" name="beds" id="beds" placeholder="Beds" />
    </div>

    <div>
        <label for="baths">Baths</label>
        <input value="{{ baths }}" type="number" name="baths" id="baths" placeholder="Baths" />
    </div>

    <div>
        <label for="instant">Instant Book</label>
        <input type="checkbox" name="instant" id="instant" {% if instant %}checked{% endif %} />
    </div>

    <div>
        <label for="superhost">Superhost</label>
        <input type="checkbox" name="superhost" id="superhost" {% if is_superhost %}checked{% endif %} />
    </div>

    <div>
        <h3>Amenities</h3>
        <ul>
            {% for amenity in amenities %}
            <li>
                <label for="amenity_{{ amenity.pk }}">{{ amenity.name }}</label>
                <input id="amenity_{{ amenity.pk }}" type="checkbox" name="amenities" value="{{ amenity.pk }}"
                    {% if amenity.pk|slugify in checked_amenities %}checked{% endif %} />
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Facilities</h3>
        <ul>
            {% for facility in facilities %}
            <li>
                <label for="facility_{{ facility.pk }}">{{ facility.name }}</label>
                <input id="facility_{{ facility.pk }}" type="checkbox" name="facilities" value="{{ facility.pk }}"
                    {% if facility.pk|slugify in checked_facilities %}checked{% endif %} />
            </li>
            {% endfor %}
        </ul>
    </div>

    <button>Search</button>
</form>

{% for room in rooms %}
<h3>{{ room.name }}</h3>
{% endfor %}

{% endblock content %}