@tailwind base;
@tailwind components;

.search-box {
    transition: all 0.2s linear;
    background: url("/static/img/search-box-icon.svg") no-repeat;
}

.nav-link {
    @apply ml-2 border-b-2 border-white h-full flex items-center;

    a {
        @apply py-3 px-0;
    }

    &:hover {
        @apply border-gray-600;
    }
}

.btn {
    @apply w-11/12 border border-gray-800 font-bold text-gray-800 mb-2 text-center rounded-md py-2;
}

.login-button {
    transition: box-shadow 0.2s ease;
    @apply bg-airbnb border-airbnb text-white;
}

.login-button:hover {
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171,
        0 0 0 6px rgba(255, 255, 255, 0.5);
}

form {
    input {
        @apply mb-2;
    }
}

input {
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 16px 16px;
    @apply rounded-sm py-2 font-light text-sm w-11/12 text-left border border-gray-600 px-3;
    @apply transition-all duration-300;

    &:focus {
        @apply outline-none border-teal-400;
    }
}

.btn-wrapper {
    @apply flex flex-col w-full items-center;
}

input.email {
    background-image: url("/static/img/email-input-icon.svg");
}

input.password {
    background-image: url("/static/img/password-input-icon.svg");
}

input.password-check {
    background-image: url("/static/img/password-check-input-icon.svg");
}

@screen md {
    .btn {
        @apply mb-3 w-10/12 py-3;
    }

    input {
        background-position: 97%;
        background-size: 19px 19px;
        @apply w-10/12 text-lg px-5 py-3;
    }

    form {
        input {
            @apply mb-3;
        }
    }
}

@tailwind utilities;
