@tailwind base;
@tailwind components;

.search-box {
    transition: all 0.2s linear;
    background: url("/static/img/search-box-icon.svg") no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;

    &:hover {
        background-size: 21px 21px;
    }
}

.nav-link {
    @apply ml-2 border-b-2 border-white h-full flex items-center;

    a {
        @apply py-3 px-0;
    }

    &:hover {
        @apply border-gray-600;
    }
}

@tailwind utilities;