{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_name %}{% endblock page_name %} | Airbnb</title>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
</head>

<body class="text-gray-700">
    <header class="container max-w-full flex items-center justify-between px-6 h-20 border-b border-gray-400">
        <div class="flex items-center">
            <a href='{% url "core:home" %}' class="mr-6">
                <img class="w-8" src="{% static 'img/logo.png' %}" />
            </a>

            {% block search-bar %}
            <form method=" GET" action="{% url "rooms:search" %}">
                <input class="border px-2 py-1 rounded-sm" name="city" placeholder="Search by City" />
            </form>
            {% endblock search-bar %}
        </div>

        {% include "partials/nav.html" %}
    </header>

    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}
</body>

</html>