<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_name %}{% endblock page_name %} | Airbnb</title>
</head>

<body>
    <header>
        {% include "partials/nav.html" %}

        {% block search-bar %}
        <form method="GET" action="{% url "rooms:search" %}">
            <input name="city" placeholder="Search by City" />
        </form>
        {% endblock search-bar %}
    </header>

    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}
</body>

</html>