{% extends "base.html" %}

{% block page_name %}Log In{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div
    class="container mx-auto mt-6 mb-4 flex flex-col items-center border py-8 px-6 border-gray-400 w-10/12 xl:w-1/4 lg:w-5/12 md:w-1/2 md:my-10">

    {% include "partials/social_login.html" %}

    <form method="POST" action="{% url 'users:login' %}" class="btn-wrapper">
        {% csrf_token %}

        {% for field in form %}
        {% include 'partials/form_input.html' with field=field %}
        {% endfor %}

        <button class="btn login-button mt-3">Login</button>
    </form>

    <div class="h-px w-11/12 bg-gray-400 md:w-10/12 mt-1 mb-2 md:mb-3"></div>

    <div class="w-11/12 float-left md:w-10/12">
        <span class="mr-1">Don't have an account?</span>
        <a href="{% url 'users:signup' %}" class="text-teal-500 font-bold hover:underline">Sign up</a>
    </div>
</div>

{% endblock content %}