{% extends "base.html" %}

{% block page_name %}Log In{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div
    class="container mx-auto mt-6 mb-4 flex flex-col items-center border p-6 border-gray-400 w-10/12 lg:w-5/12 lg:my-10 md:w-1/2 md:my-10">

    {% include "partials/social_login.html" %}

    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
    </form>
</div>

{% endblock content %}